@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
*{
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
  font-style: normal;

  padding: 0;
  margin: 0;
}
a{
  text-decoration: none;
  color: #fff;  
}

body{
  background-image: linear-gradient(to right, #01022d , #000000);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container{
  background-image: linear-gradient(to right, #01022dcf 35%, #000000ba),url(80.webp);
  width: 90%;
  background-color: #483737;
  height: 640px;
  background-repeat: no-repeat;

  background-size: cover;
  
  background-position: center;
}
.container:hover{
  background-image: linear-gradient(to right, #01022de5 35%, transparent),url(80.webp);
  background-repeat: no-repeat;

  background-size: cover;
  
  background-position: center;
}

header{
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.logo{
  font-size: 30px;
  font-weight: 500;
  text-transform: uppercase;
}

ul{
  display: flex;
  list-style: none;
  gap: 40px;
}

ul a{
  font-size: 18px;
  font-weight: 500;
  text-transform: capitalize;
  border-bottom: solid 2px transparent;
}
ul a:hover{
  border-bottom: solid 2px #fff;
  background-color: rgb(45, 72, 122);
  transition: all 0.3s ease;
}


.content{
  color: rgb(228, 237, 234);
  width: 50%;
  margin-top: 50px;
  padding: 30px;
}
.content h1{
  font-size: 130px;
  font-weight: 500;
  margin-bottom: 20px;
}
.content p{
  letter-spacing: 3px;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 30px;
  width: 500px;
}
.content button{
  padding: 30px 65px;
  font-size: 25px;
  font-weight: 700;
  border: solid 2px transparent;
  border-radius: 30px;
  cursor: pointer;
}

.content button:hover{
  background-color: transparent;
  color: #e4dede;
  border: solid 2px white;
  transition: all 0.3s ease;
}